.page-controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}

.page-controls button {
  background-color: var(--color-white);
  border: 1.5px solid var(--color-secondary);
  border-radius: 6px;
  box-shadow: var(--box-shadow-base);
  color: var(--color-secondary);
  cursor: pointer;
  font-size: var(--font-size-body);
  font-weight: 500;
  padding: 6px 8px;
  transition: 300ms;
  width: 100%;
}

.page-controls button:is(:hover, :focus) {
  background-color: var(--color-secondary);
  color: var(--color-white);
  outline: none;
  transform: scale(1.1);
}

.page-controls button:disabled {
  /* color: var(--color-background); */
  border-color: var(--color-secondary-disabled);
  color: var(--color-secondary-disabled);
  pointer-events: none;
}

.page-controls__currrent-page-wrapper,
.page-controls__next-wrapper,
.page-controls__previous-page-wrapper {
  margin: auto;
  width: 100%;
}

.page-controls__currrent-page-wrapper {
  width: fit-content;
}

@media (min-width: 650px) {
  .page-controls {
    flex-direction: row;
  }

  .page-controls button {
    width: fit-content;
  }

  .page-controls__currrent-page-wrapper,
  .page-controls__next-wrapper,
  .page-controls__previous-page-wrapper {
    width: fit-content;
  }

  .page-controls__next-wrapper,
  .page-controls__previous-page-wrapper {
    margin: 0;
  }
}
