:root {
  --color-primary: #f79b72;
  --color-secondary: #2a4759;
  --color-background: #dddddd;
  --color-surface: #eeeeee;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-terniary: #ffd166;

  /* Additional colors */
  --color-text-primary: rgba(0, 0, 0, 0.87);
  --color-text-secondary: rgba(0, 0, 0, 0.54);
  --color-text-disabled: rgba(0, 0, 0, 0.38);
  --color-secondary-disabled: #2a475933;

  /* Status colors */
  --color-success: #4caf50;
  --color-error: #b00020;
  --color-error-secondary: #ffd166;
}
