@import url("./styles/colors.css");
@import url("./styles/fonts.css");

:root {
  --box-shadow-base: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.notice {
  font-size: var(--font-size-body);
  font-weight: 400;
  margin: 24px 0;
}

.error-text {
  color: var(--color-error);
}
